venv
venv/
miniconda/
miniconda
*.db
flat.txt
flatten_files_for_gpt.py
flatten_all_files_for_gpt.py
.vscode/
.vs
.vs/
.vs/*
htmlcov/
htmlcov
htmlcov/*
__pycache__/
.pytest_cache/
.pytest_cache
.pytest_cache/*
vscode
.env
app/__pycache__
app/__pycache__/*
app/tools/__pycache__
app/tools/__pycache__/*
data
data/*
db/
db/*
stop_venv.bat